/* CSS Document */

html {
	font-family: lato;
	
	margin: 0;
}
main {
	display: block;
	position: relative;
	
	color: #ffffff;
	
	background-color: rgba(17, 17, 17, .9);
	
	height: 900px;
	width: 100%;
}